/* style-index */
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav-bar{
    margin: 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    border: #dc730d dashed 1px;
}

.nav-bar-items{
    list-style-type: none;
    display: flex;
    gap: 100px;
    justify-content: center;
    font-family: Calibri, Georgia, serif;
    font-size: 30px;
}
.nav-bar-items a{
    text-decoration: none;
    color: red;
}

.nav-bar-items a.aktywny {
    text-decoration: underline;
}

#main-page{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

h4{
    height: 646px;
}

h4 span{
    color: red;
}
#pointing_arrows{
    width: 1000px;
    height: 400px;
}

#troll_container{
    position: relative;
    display: inline-block;
    margin-left: 56.5%;
}

#troll-content-button{
    display: inline-block;
    color: white;
    font-family: Calibri, Georgia, serif;
    background-color: #dc730d;
    padding: 8px 10px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;

    position: absolute;
    top: 52%;
    left: 42%;
    transform: translate(-30%, -70%);
}
#troll-content-button:hover{
    background-color: #ca5700;
}

.teksty-body{
    text-align: center;
    justify-content: center;
}
.teksty-body-wyjasnienie1{
    margin: 3% 0 3% 0;

}

footer {
    display: flex;
    justify-content: center;
    font-family: Calibri, Georgia, serif;
    font-size: 20px;
    border-top: #dc730d solid 1px;
    margin-top: auto;
}
footer p img{
    justify-content: center;
}
