/* style-index */
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav-bar{
    display: flex;
    margin: 0;
    justify-content: center;
    text-decoration: none;
    border-bottom: #FFB97B solid 2px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.15);
    font-weight: 700;
}

.nav-bar-items{
    list-style-type: none;
    display: flex;
    gap: 5vw;
    justify-content: center;
    font-family: Calibri, Georgia, serif;
    font-size: 30px;
}
.nav-bar-items a{
    text-decoration: none;
    color: #FF6A61;
}

.nav-bar-items a.aktywny {
    text-decoration: underline;
}

#main-page{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    animation: fadeIn 1s ease-out forwards;}

h4 span{
    color: red;
}

.teksty-body{
    margin-top: 40px;
}

#pointing_arrows {
    width: 100%;
    height: auto;
}

#troll_container {
    position: relative;
    align-self: flex-end;
    margin-right: 2vw;
    margin-top: 35vh;
    margin-bottom: 50px;
    text-align: center;
    width: 90%;
    max-width: 800px;
}

#troll-content-button{
    display: inline-block;
    color: white;
    font-family: Calibri, Georgia, serif;
    background-color: #dc730d;
    padding: 8px 10px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#troll-content-button:hover{
    background-color: #ca5700;
}

.teksty-body{
    text-align: center;
    justify-content: center;
}

.teksty-body-wyjasnienie1{
    margin: 3% 0 3% 0;

}

footer {
    display: flex;
    justify-content: center;
    font-family: Calibri, Georgia, serif;
    font-size: 20px;
    border-top: #FFB97B solid 2px;;
    margin-top: auto;
}

footer p img{
    justify-content: center;
}

/* Animacja przewijania podstron */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}