/* style-gra_wisielec */
body{
    background-image: url("../img/background/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
    background-repeat: no-repeat;
}

#nav-bar{
    background-color: rgba(221, 220, 194, 0.7);
}

#main-page{
    display: flex;
    width: 100%;
}
#gra{
    text-align: center;
    align-items: center;
}
#obrazek_wisielec {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
}

#statystyki-container{
    background-color: #dddcc2;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
}

.statystyki{
    color: red;
}

.teksty{
    font-family: Calibri, Rubik, sans-serif;
    font-size: 30px;
    margin-top: 50px;
}

#napis-kategoria{
    margin: 0 30px 0 30px;
}

#haslo{
    margin-left: 20px;
    letter-spacing: 1ex;
}

#klawiatura {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 3% auto 50px auto;
}

.litera{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    align-content: center;
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color: #dc730d;
    width: 50px;
    height: 35px;
}

.litera.zuzyta {
    pointer-events: none;
    opacity: 0.5;
}

.litera:hover{
    cursor: pointer;
}

footer{
    background-color: rgba(221, 220, 194, 0.7);
}